body{
    color: white;
    text-align: justify;
    background-color: black;
    background-size: 100% 100%;
    opacity: 0.8;
    z-index: 3;
    font-size: 18px;
}
.header{
    width: 80%;
    height: 500px;
    opacity: 0.8;
    z-index: 0;
    margin-left:10%;
    margin-right: 10%;
}
.main{
    width: 50%;
    float: left;
    padding: 5%;
    background-image: url(backgroundwizard.jpg);
    background-size: 100% 100%;
}
.sidebar{
    width: 20%;
    float: left;
    padding: 5%;
}
h3{
    text-align: center;
}
.bottom{
    width: 100%;
    height: auto;
}
a{
    color: white;
}